################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/SimulacionMontecarlo/.vs/SimulacionMontecarlo/FileContentIndex/ddebe217-ba92-43cc-a48b-6cdb1c9d6fae.vsidx
